{% extends 'base.html.twig' %}

{% block title %}Détails d'un employé{% endblock %}

{% block body %}
    <h1>{{ employe}} </h1>
    <p>
        Ville :<br>
        Entreprise :<br>
        Adresse :
    </p>
{% endblock %}